name: Release

on:
  push:
    paths:
      - ".changeset/**"
      - "packages/**"
      - pnpm-lock.yaml
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write # Required for OIDC
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          token: ${{ secrets.MACHINE_USER_TOKEN }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build files
        run: pnpm run build

      - name: Setup service bot git
        env:
          GIT_EMAIL: ${{ secrets.MACHINE_USER_EMAIL }}
          GIT_NAME: ${{ secrets.MACHINE_USER_NAME }}
        run: |
          git config --local user.email "${GIT_EMAIL}"
          git config --local user.name "${GIT_NAME}"

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: "chore(release): bump version and deploy packages"
          title: "chore(release): bump version and deploy packages"
          setupGitUser: false
          publish: pnpm run release
          version: pnpm run version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
