name: Release

on:
  push:
    paths:
      - '.changeset/**'
      - 'packages/**'
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.MACHINE_USER_TOKEN }}

      - name: Setup BUN
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Build files
        run: bun run build

      - name: Setup service bot git
        env:
          GIT_EMAIL: ${{ secrets.MACHINE_USER_EMAIL }}
          GIT_NAME: ${{ secrets.MACHINE_USER_NAME }}
        run: |
          git config --local user.email "${GIT_EMAIL}"
          git config --local user.name "${GIT_NAME}"

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: 'chore(release): bump version and deploy packages'
          title: 'chore(release): bump version and deploy packages'
          setupGitUser: false
          publish: bun run release
          version: bun run version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
